.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#dropInput{
font-size: 16px;
padding: 12px 18px 10px 26px;
border: none;
}

.dContent a {
  color: black;
  padding: 14px 18px;
  display: block;
}

.dDown{
  position: relative;
  display: inline-block;
}

.droptab{
background-color: goldenrod;
border: none;
color: blue;
cursor: pointer;
font-size: 18px;
padding: 18px;
}

.show{
  display:block;
}




.topnav {
  background-color: #61dafb;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: black;
  padding: 18x 18x;
  text-align: center;
  font-size: 18px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
