body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Montserrat",
    monospace;
}

.topnav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #383a47;
  color: white;
  overflow: visible;
  min-height: 100px;
  height: auto;
}

.topnav .loginButton {
  float: right;
  margin-left: 15%;
  order: 3;
  min-width: 100px;
}

.topnav .logo {
  order: 1;
  margin-left: 8%;
}

.topnav .rightIcons {
  order: 3;
  /* margin-right: 8%; */
  padding-right: 8%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topnav .shoppingCartButton {
  order: 2;
  padding-left: 15%;
}

.topnav .search {
  padding-left: 2%;
  flex: 1 0px;
  order: 2;
}

.topnav .menuToggle {
  background-color: transparent;
  border-color: transparent;
}

.divider{
  order: 1;
  position:absolute;
  top:20%;
  bottom:20%;
  border-left:0.5px solid white;
}