body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Montserrat",
    monospace;
}

.topnav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #383a47;
  color: white;
  overflow: hidden;
  min-height: 100px;
  height: auto;
}

.topnav .loginButton {
  float: right;
  margin-left: 15%;
  order: 2;
}

.topnav .logo {
  order: 1;
  margin-left: 10%;
}

.topnav .rightIcons {
  order: 3;
  margin-right: 10%;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topnav .shoppingCartButton {
  order: 1;
}

.topnav .search {
  margin-left: 5%;
  margin-right: 5%;
  flex: 3 0px;
  order: 2;
  width: 50%;
}

.topnav .menuToggle {
  background-color: transparent;
  border-color: transparent;
}