#list {
    width: 60%;
    padding-top: 100px;
    float: right;
}

#line {
    display: -ms-grid;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

#authorLink {
    color: blue;
}

#shoppingCartLink {
    color: blue;
}

#coverContainer {
    padding-left: 10px;
    float: left;
}

#detailContainer {
    padding-left: 275px;
    text-align: center;
}

#bookListContainer {
    width: 100%;
    text-align: -webkit-center;
    
}

#noResultsContainer {
    text-align: center;
}